@import '../../global.scss';

.about {
    background-color: lightgoldenrodyellow;

    .wrapper {
        // height: calc(100vh - 90px);
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        .left {
            width: 50%;
            height: 100%;
            color: $mainColor;
            margin-top: 100px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: 1px solid black;
            }

            h1 {
                margin-top: 50px;
                text-align: center;
                font-size: 50px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                transition: ease;
            }


        }

        .border {
            width: 1px;

            background-color: $mainColor;
            z-index: 1;
        }

        .right {
            width: 50%;
            padding-left: 20px;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;

            .header {
                font-size: 25px;
                font-weight: 600;
            }

            p {

                font-size: 20px;
                font-weight: 400;
                text-decoration: none;
                color: inherit;
                transition: ease;
                text-align: left;
            }
        }
    }
}